label{
  padding-left: 10px;
}

.bdr{
  border-top: 2px solid black;
}

.align{
  text-align: right;
  margin-right: 100px;
}

.vh{
  min-height: 100vh;
}

.width3{
  width: 10%;
}

.center{
  text-align: center;
}

/* .container{
  width: 100%;
} */

/* button{
  margin: 0 auto;
} */

.btn{
  /* border: transparent;
  background: transparent; */
}

.flex{
  display: flex;
  align-items: center;
}

/* .form-group{
  width: 70%;
} */

.width{
  width: 50%;
}

.width2{
  width: 100%;
}

.bg {
  background: linear-gradient(90deg, #BEAF8B 50%, #FFFFF4 50%);
}

.bg2{
  background: #FFFFF4;
}

/* .mgn{
  margin-left: 0;
  margin-right: 0;
} */

.mgn2{
  margin: auto;
}

.pdg{
  padding-left: 50px;
}
