label {
  padding-left: 10px;
}

#result {
  display: none;
}

.align {
  text-align: right;
  margin-right: 100px;
}

.vh {
  min-height: 100vh;
}

.vh2 {
  height: 90vh;
}

.vh3 {
  height: 10vh;
}

.width {
  width: 50%;
}

.width2 {
  width: 100%;
}

.width3 {
  width: 10%;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.bg {
  background: linear-gradient(90deg, #E7573F 50%, #FFFFF4 50%);
}

.bg2 {
  background: #FFFFF4;
}

.mgn2 {
  margin: auto;
}

.pdg {
  padding-left: 50px;
}

.pdg2{
  padding-bottom: 10px;
}

/* .bdr {
  border-top: 2px solid black;
} */
